<div class="login">
	{{ attach_library('poll_form/poll_form') }}
  <div class="content">
    <div class="row">
      <div class="content-form">
          {{ form }}
      </div>
    </div>
  </div>
</div>